@greyish: #a7a7a7;
@black: #262626;
@azure: #21acee;
@brownish-grey: #616161;
@gray-white: #eaeaea;
@pinkish-grey: #d1d1d1;
@white: #ffffff;
@white-two: #f3f3f3;
@hospital-green: #89d790;
@lightish-red: #ff354e;
@light-grey-green: #b8e8bc;
@butterscotch: #f7b849;
@soft-green: #7bc181;

@text_small: 14px;
@text_medium: 16px;
@text_large: 20px;
@text_x-large: 24px;

@font-face {
  font-family: 'ClearSans';
  src: url(./static/fonts/ClearSans/eot/ClearSans-Light.eot) format('embedded-opentype'),
  url(./static/fonts/ClearSans/woff/ClearSans-Light.woff) format('woff'),
  url(./static/fonts/ClearSans/ttf/ClearSans-Light.ttf) format('truetype'),
  url(./static/fonts/ClearSans/svg/ClearSans-Light.svg) format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url(./static/fonts/ClearSans/eot/ClearSans-Regular.eot) format('embedded-opentype'),
  url(./static/fonts/ClearSans/woff/ClearSans-Regular.woff) format('woff'),
  url(./static/fonts/ClearSans/ttf/ClearSans-Regular.ttf) format('truetype'),
  url(./static/fonts/ClearSans/svg/ClearSans-Regular.svg) format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url(./static/fonts/ClearSans/eot/ClearSans-Medium.eot) format('embedded-opentype'),
  url(./static/fonts/ClearSans/ttf/ClearSans-Medium.ttf) format('truetype'),
  url(./static/fonts/ClearSans/woff/ClearSans-Medium.woff) format('woff'),
  url(./static/fonts/ClearSans/svg/ClearSans-Medium.svg) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url(./static/fonts/ClearSans/eot/ClearSans-Bold.eot) format('embedded-opentype'),
  url(./static/fonts/ClearSans/woff/ClearSans-Bold.woff) format('woff'),
  url(./static/fonts/ClearSans/ttf/ClearSans-Bold.ttf) format('truetype'),
  url(./static/fonts/ClearSans/svg/ClearSans-Bold.svg) format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face
{
  font-family: 'WildApricotIcons';
  src: url(./static/fonts/WildApricotIcons/WildApricotIcons.eot) format('embedded-opentype'),
  url(./static/fonts/WildApricotIcons/WildApricotIcons.ttf) format('truetype'),
  url(./static/fonts/WildApricotIcons/WildApricotIcons.woff) format('woff'),
  url(./static/fonts/WildApricotIcons/WildApricotIcons.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

